#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-size: cover;
  filter: blur(2px);
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  height: 9em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e91515aa);
}

.login-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.login-card {
  background-color: rgba(0, 0, 0, 0.747); 
  padding: 5%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
}

.login-card input {
  width: 90%;
  padding: 3%;
  margin-bottom: 5%;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  z-index: 1;
  display: flex;
}

h1 {
  font-size: 2em;
  margin-bottom: 5%;
}

label {
  display: block;
  margin-bottom: 3%;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5%;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  z-index: 1;
  display: flex;
}

button {
  background-color: #ec0c17; 
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #b20710; 
}

.read-the-docs {
  margin-top: 5%;
  font-size: 0.8em;
}

.card {
  padding: 2em;
}

@media screen and (max-width: 768px) {
  .login-card {
    padding: 10%;
  }
  .background-image {
    background-size: auto; /* Ou ajuste para 'auto' dependendo do efeito desejado */
    filter: blur(1px); /* Reduza o desfoque para telas menores, se necessário */
}
}
